<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Airnbnb Hotel Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
{% if message %}
<p>{{ message }}</p>
{% endif %}
<div class="login">
    <h2>Search For Airbnb</h2>
    <form action="" method="post">
        <input type="text" name="country" placeholder="Country">
        <input type="text" name="city" placeholder="City">
        <input type="text" name="guests" placeholder="Guests">
        <button type="submit" class="btn btn-primary btn-block btn-large">Search</button>
    </form>
    {{ output_text }}
</div>

</body>
</html>