<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Airnbnb Hotel Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
{% if message %}
<p>{{ message }}</p>
{% endif %}

<form action="" method="post">
    <p>
        <label for="country">Country</label>
        <input type="text" name="country">
    </p>
    <p>
        <label for="city">City</label>
        <input type="text" name="city">
    </p>
    <p>
        <input type="submit">
    </p>
</form>

    {{ output_text }}

</body>
</html>